body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #315f9b;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #315f9b;
    text-decoration: none;
    margin: 15px;
}

main {
    width: 90%;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
}

h2 {
    color: #315f9b;
}

img {
    margin: 10px;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #315f9b;
    color: white;
    text-align: center;
    padding: 15px;
}